.ret {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-out;
}

#v-line {
  position: fixed;
  top: 0;
  border-left: 1px dashed #32323D;
  height: 100%;
  z-index: -2;
}

#h-line {
  position: fixed;
  left: 0;
  border-top: 1px dashed #32323D;
  width: 100%;
  z-index: -2;
}

#ret-mask {
  width: 30px;
  height: 30px;
  transition: transform 0.1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
  z-index: -1;
}

#ret-action {
  color: #505065;
  font-size: smaller;
  position: fixed;
  visibility: hidden;
}

#dot {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
  width: 5px;
  height: 5px;
  border-radius: 1px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 1;
}

#sel {
  --s: 6px;
  --t: 2px;
  --g: 2px;

  box-sizing: content-box;
  position: fixed;
  pointer-events: none;
  width: 1px;
  height: 1px;
  transition: transform 0.2s, opacity 0.25s;
  transition-timing-function: ease-out;
  opacity: 0;
  padding: calc(var(--g) + var(--t));
  border-radius: 3px;
  z-index: 1;
  outline: var(--t) solid white;
  outline-offset: calc(-1 * var(--t));
  mask:
    conic-gradient(at var(--s) var(--s), transparent 75%, var(--bg) 0)
    0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(var(--bg) 0 0) content-box;
}
